# Ignore unnecessary/sensitive files and folders in the NicheFilms.API project

bin/
obj/

.vs/
*.suo
*.user
*.sln.docstates

.idea/
*.DotSettings.user

*.log
*.tlog
**/AssemblyInfo.cs
**/appsettings.json
