backend/NicheFilms.API/NicheFilms.API/publish/NicheFilms.API.dll
backend/NicheFilms.API/NicheFilms.API/publish/NicheFilms.API.dll
backend/NicheFilms.API/NicheFilms.API/publish/publish/web.config
backend/NicheFilms.API/NicheFilms.API/publish/NicheFilms.API.pdb
backend/NicheFilms.API/NicheFilms.API/publish/NicheFilms.API.dll
backend/NicheFilms.API/NicheFilms.API/appsettings.json
backend/NicheFilms.API/NicheFilms.API/Identity.sqlite-shm
backend/NicheFilms.API/NicheFilms.API/Identity.sqlite-wal
